
html {
  box-sizing: border-box;
}

body{
margin:0;
opacity: 0.8;
background-size: 24px 24px;
background-image:  repeating-linear-gradient(0deg, #54a7ae, #54a7ae 1.2000000000000002px, #e5e5f7 1.2000000000000002px, #e5e5f7);
}

.container{
  margin-top: 150px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

.joke-container{
  margin: 30px;
  width: fit-content;
  block-size: fit-content;
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
  color: rgb(243, 235, 235);
  justify-content: center;
  align-items: center;
  background-color: rgba(99, 115, 150, 0.877);
  border-radius: 0%;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

#jokes{
  margin: 15px;
  
}

button{
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 80px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: white;
  background: #192222;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  margin:10px;
}

button:hover{
  filter: brightness(95%);
}

button:active{
  transform: scale(0.98);
}

button:disabled{
  cursor: default;
  filter: brightness(30%);
}

/* media q for phone*/

@media screen and (max-width: 1000px){
  .container{
    background-size: cover;
    background-position: center center;
  }
  button{
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}